.ordersCont{
    width:45vw;
    height:100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.ordersCont table{
    width:100%;
    background-color: #f4f6f8;
    margin-bottom: 20px;
}
.ordersCont table tr{
   text-align: center;
  
}
.ordersCont table thead tr th{
    border-bottom: 2px solid #000 !important;
    border-right: 4px solid #fff;
    padding:5px;
}
.ordersCont table tbody tr td{
    border-bottom: 4px solid white;
    border-right: 4px solid white; 
    padding:5px;
    /* border:2px solid red; */
    
}
.ordersCont table caption{
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #224957;
    font-weight: bold;
}

.loader{
    height: 300px;
    /* border:2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:30%;
    left:50%;
    
}