.navCont {
    width: 100vw;
    height: 13vh;
    /* border: 2px solid red; */
    display: flex;
    position: relative;
}

.appName {
    width: 10vw;
    height: auto;
    font-size: 1.5rem;
    /* border: 2px solid blue; */
    color: rgba(137, 43, 226, 0.869);
    position: absolute;
    top: 30%;
    left: 5%;
}
.appName:hover{
    cursor: pointer;
}
.userName{
    /* border:2px solid blue; */
    width:10%;
   position:absolute;
    right:9%;
    top:35%;

}
.userName:hover{
    cursor: pointer;
}
.userName span{
    /* border:2px solid red; */
    font-size:1.4rem;
    color: rgba(137, 43, 226, 0.721);
    font-weight: bold;
    margin-left: 15px;
    position: absolute;
    
    
}
.userName img{
    width:35px;
    height:35px;
   
}

.home {
    width: 10vw;
    height: auto;
    /* border: 2px solid blue; */
    position: absolute;
    top: 18%;
    right: 43%;
}


.home:hover{
    cursor: pointer;
}
.home img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.home span {
    font-size: 1.3rem;
    color: rgba(137, 43, 226, 0.721);
    font-weight: bold;
    position: absolute;
    top: 27%;
}

.homeNotSignin{
    width: 10vw;
    height: auto;
    /* border: 2px solid blue; */
    position: absolute;
    top: 18%;
    right: 18%;
}

.homeNotSignin:hover{
    cursor: pointer;
}
.homeNotSignin img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.homeNotSignin span {
    font-size: 1.3rem;
    color: rgba(137, 43, 226, 0.721);
    font-weight: bold;
    position: absolute;
    top: 27%;
}
.order {
    width: 12vw;
    height: auto;
    /* border: 2px solid red; */
    position: absolute;
    top: 18%;
    right: 30%;
}

.order:hover{
    cursor: pointer;
}
.order img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.order span {
    font-size: 1.3rem;
    color: rgba(137, 43, 226, 0.721);
    font-weight: bold;
    position: absolute;
    top: 27%;
}

.cart {
    width: 10vw;
    height: auto;
    /* border: 2px solid blue; */
    position: absolute;
    top: 18%;
    right: 19%;
}

.cart:hover{
    cursor: pointer;
}
.cart img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.cart span {
    font-size: 1.3rem;
    color: rgba(137, 43, 226, 0.721);
    font-weight: bold;
    position: absolute;
    top: 27%;
}

.login {
    width: 10vw;
    height: auto;
    /* border: 2px solid blue; */
    position: absolute;
    top: 18%;
    right: 8%;
}

.login:hover{
    cursor: pointer;
}
.login img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.login span {
    font-size: 1.3rem;
    color: rgba(137, 43, 226, 0.721);
    font-weight: bold;
    position: absolute;
    top: 27%;
}

.logout {
    width: 8%;
    height: 40px;
    border: 1px solid gray;
    background-color: #f4f6f8;
    position: absolute;
    top: 80%;
    right: 10%;
}

.logout:hover{
    cursor: pointer;
}
.logout img {
    width: 35px;
    height: 35px;
   
}

.logout span {
    font-size: 1.3rem;
    color: rgba(137, 43, 226, 0.721);
    font-weight: bold;
    position: absolute;
    top: 0%;
}